#results
results/*
!results/.keep

seg/_pycache__/*

#data
data/datasets/*
!data/datasets/.keep

data/fashion_dataset/train/*
!data/fashion_dataset/train/.keep

data/fashion_dataset/valid/*
!data/fashion_dataset/valid/.keep

data/fashion_raw/*
!data/fashion_raw/.keep

data/masked/*
!data/masked/.keep

data/masks/*
!data/masks/.keep

pyTorch-StudioGAN/

#features

features/*
!features/.keep

#models
models/*
!models/info.txt